body {
  font-family: 'Roboto', sans-serif;
  background-color: #e0e0e0;
  color: #333;
  margin: 0;
  padding: 20px;
}


h1 {
  margin-top: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-breadcrumb {
  padding: 0px;
  margin: 0px;
}

.nav-breadcrumb ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav-breadcrumb li {
    display: inline;
    list-style-type: none;
    margin: auto;
    margin-right: 4px;
}

.nav-breadcrumb li:after {
	--breadcrumb-arrow-size: 0.4em;
	display: inline-block;
	margin-left: 6px;
	content: "";
	width: 0;
	height: 0;
	border-top: var(--breadcrumb-arrow-size) solid transparent;
	border-bottom: var(--breadcrumb-arrow-size) solid transparent;
	border-left: var(--breadcrumb-arrow-size) solid #000000;
}

img {
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure {
    margin: 0;
    padding: 0;

}

picture {
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    margin-top: 8px;
    text-align: center;
    font-style: italic;
    /*font-size: 0.8em;*/
}

.aside-warn {
    background-color: #fee9a9;
    border-color: #ffc107;
    border-width: 2px;
    padding: 8px;
    margin: 2px;
}

pre {
    background-color: #eaeaea;
    padding: 8px;
}

code {
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    font-size: 0.9em;
    font-family: 'Sono', monospace;
}

